---
#
# This is a Forme file for the Gutenberg template utility.  This will drive what is built by Gutenberg.
# The following order applies regardless the order in which they are specified in this file:
#   1st) Directories are created.
#   2nd) Files are generated using mustache templates.
#   3rd) Directories are copied.
#   4th) Files are copied.
#
#
# Some details for who ever implements the template.
#
version: 1
name:
author:
email:
#
# Optional variables.  These will be available in your mustache templates as 'forme.variables.?'.
#
variables:
#
# Optional meta data.  These will be be available in your mustache templates as 'forme.meta.?'.
#
meta:
#
# User entry prompts.  These will trigger the user to be prompted for input.  These will be available in your
# mustache templates as 'user.?'.
#
prompts:
#  - message:
#    name:
#    defaultValue:
#
# A list of directories to create.  These are created recursively.  Directories will default to mode '0755'.
#
directories:
#  - dest:
#
# A list of files to create using provided templates.  Any variables will be available in your mustache template as, simply,
# 'variables.?'.  All mustache template paths are relative to this file.  You can provide expected file permissions for the
# destination files.  If not provided, file permissions will be '0644'.  To create a file from a mustache template file, supply
# the path to the template file as the 'source'.  To supply the template here, provide the template text as 'content. Choose either
# source or content.  But not both.  Source will take precedence.
#
files:
#  - source:
#    content:
#    dest:
#    variables:
#    permissions:
#       read: yes
#       write: yes
#       execute: no
#
# A list of files or directories to copy into their destination. For file copy entries, you can provide expected file permissions for the
# destination files.  If not provided, file permissions will be '0644'.  Directories will default to '0755'
#
copy:
#  - source:
#    dest:
#    type:
#
#    permissions:
#    #Permissions are only available for file copy entries.
#       read: yes
#       write: yes
#       execute: no